/**
 * CSS
 * @author Barret Lee(barret.china@gmail.com)
 * @date 11/07/2014
 */

@charset "utf8";

body, div {
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
    -webkit-user-select: none;
    font-size: 12px;
    font-family: 'Monaco','Source Code Pro', 'Consolas','Inconsolata','Ubuntu Mono','DejaVu Sans Mono','Courier New','Droid Sans Mono','Hiragino Sans GB','Microsoft Yahei','Menlo',monospace;

}
.header {
    height: 40px;
    padding: 0 10px;
    background: #333;
    box-shadow: 0 3px 5px #333;
}
.header h1 {
    line-height: 40px;
    color: #FFF;
}
.header h1 span {
    font-size: 12px;
}
.header h1 a {
    color: #FFF;
    text-decoration: none;
}
.header h1 a:hover {
    border-bottom: 1px dotted #FFF;
}
.github-star {
    float: right;
    margin-top: 10px;
}
.box {
    min-width: 600px; 
    position: relative;
}
.wrapper {
    position: absolute;
    top: 60px;
    bottom: 15px;
    left: 110px;
    right: 15px;
    overflow: hidden;
    border: 1px solid #CCC;
}
#can {
}
#control > * {
    transition: all 0.4s ease;
    -weblit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
#control {
    position: absolute;
    left: 10px;
    top: 60px;
    width: 80px;
    border: 1px solid #CCC;
    box-shadow: 3px 3px 5px #CCC;
}
#control div {
    width: 50px;
    height: 24px;
    padding: 0 5px;
    border: 1px solid #CCC;
    background: #EFEFEF;
    border-radius: 3px;
    line-height: 24px;
    text-align: center;
    margin: 10px 8px;
    cursor: pointer;
    position: relative;
    font-style: 12px;
    color: #555;
}
#control div::after {
    content: attr(data-title);
    position: absolute;
    left: 70px;
    top: 2px;
    white-space: nowrap;
    line-height: 20px;
    background: #333;
    box-shadow: 1px 1px 4px #333;
    padding: 0 8px;
    color: #FFF;
    border-radius: 2px;
    z-index: 120;
    display: none;

}
#control div::before {
    content: " ";
    position: absolute;
    left: 62px;
    top: 9px;
    height: 0;
    width: 0;
    border: 4px solid transparent;
    border-right-color: #333;
    z-index: 120;
    visibility: hidden;
    cursor: default;
}
#control div:hover::before {
    visibility: visible;
}
#control div:hover::after {
    display: block;
}
div#open {
    background: #CCC;
}
div#del {
    background: #FFF;
    color: #000;
}
div#clear {
    background: #EF5555;
    color: #FFF;
}
div#cols, div#rows, div#net {
    background: #ECFFF3;
}
#file {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.001;
    cursor: pointer;
}
button {
    cursor: pointer;
}
.line {
    position: absolute;
    line-height: 0;
    font-size: 0;
    z-index: 100;
}
.area-rect {
    position: absolute;
    border: 1px dotted red;
    z-index: 80;
}
.info-rect {
    position: absolute;
    z-index: 110;
}
.color-info-box {
    position: absolute;
    border: 1px solid white;
    padding: 5px;
    font-size: 14px;
    white-space: nowrap;
    width: 72px;
    background: rgba(255, 255, 255, 0.5);
}
.color-info-box span {
    content: " ";
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid #CCC;
    float: left;
    margin-right: 4px;
}
.on {
    background: #969696 !important;
    color: #FFF !important;
}
[data-del=yes] {
    border-width: 2px !important;
    border-color: green!important;
    cursor: pointer;
}