body {
    user-select: none;
    -webkit-user-select: none;
}
.box {
    min-width: 600px; 
    position: relative;
}
#can {
    border: 1px solid #CCC;
}
button {
    cursor: pointer;
}
.line {
    position: absolute;
    line-height: 0;
    font-size: 0;
    z-index: 100;
}
.area-rect {
    position: absolute;
    border: 1px dotted red;
}